<!DOCTYPE html>
<html lang="en">
<%- include("partials/head")%>
<body>
    <%- include("partials/header") %> 
    <main class="contenedorPartner">
        <section class="contImgBackAbout">
           <div class="sectAcc">
               <h2>Acerca de Mí</h2>
               <!-- <p>Importancia y Beneficios</p> -->
           </div>
        </section>
        <section class="containerArticlesPartner">
            <article class="articlePartnerAbout">
                <h2>Acerca de mí</h2>
                <div>
                    <ul>
                        <li>
                            Mi nombre es Julieta Norambuena, soy Coach Ontológico Profesional y estoy certificada y avalada por AACOP (Asociación argentina de Coaching ontológico proesional) y por FICOP (Federación internacional de coaching ontológico profesional). 

                        </li>
                        <li>
                            Mi propósito es acompañarte a expandir tu potencial, descubriendo aquellas herramientas de las que dispones y aún no sos consciente. 

                        </li>
                        <li>
                             Mi compromiso es transitar con vos el camino del “desafiarse a sí mismo”, a través de mi escucha, respeto y empatía.
                        </li>
                    </ul>
                </div>
                <div class="headButonProp">
                    <a href="/contacto" class="buttonPartner" >Mas Info</a>
                 </div>
            </article>
            <!-- <article class="articlePartner" style="background-color: #e9e9e9;">
                <h2>Beneficios del Accountability Partner</h2>
                <div>
                    Contratar un Accountability partner aumenta a un 95 % las posibilidades de éxito.
                    Actúa como fuente de energía. Te ayuda a mantener tu mente enfocada y concentrada en lograr tus metas.
                    Tener un Acountability partner significa que podés sentarte y conversar, elaborar un plan de acción y una estrategia coherentes. 
                    Puede presentarte sugerencias de mejora que quizás no hayas considerado, creando así un ambiente de colaboración 
                </div>
                <div class="headButonProp">
                    <a href="/contacto" class="buttonPartner" >Mas Info</a>
                </div>
            </article>
            <article class="articlePartner">
                <h2>La importancia de la rendición de cuentas </h2>
                <div>
                    Es la responsabilidad la que garantiza que consideremos cuidadosamente nuestras acciones y evaluemos los efectos de cada paso frente al objetivo planteado.
                    El Accountability partner te controlará regularmente para asegurarte de que estás cumpliendo con las tareas que te comprometiste a cumplir y a su vez te dará la escucha para mantenerte motivado y mantener el impulso cuando surjan inconvenientes en el proceso.
                </div>
                <div class="headButonProp">
                    <a href="/contacto" class="buttonPartner" >Mas Info</a>
                </div>
            </article>
            <article class="articlePartner" style="background-color: #e9e9e9;">
                <h2>Relación entre el Coaching y el Acountability Partner </h2>
                <div>
                    Ambos servicios se entrelazan, puesto que, en cada encuentro, mi función como coach y Acountability partner es escucharte y recordarte tu objetivo para que juntos identifiquemos los obstáculos que podrían aparecer y cada una de tus fortalezas y debilidades frente a lo que querés lograr. Cualquier proceso tiene sus altibajos…en esos días en los que no tengas la fuerza de voluntad para mantener el enfoque es donde las conversaciones de coaching serán la herramienta para cambiar el punto de vista. 
                </div>
                <div class="headButonProp">
                    <a href="/contacto" class="buttonPartner " >Mas Info</a>
                </div>
            </article> -->
        </section>
    </main>
    <%- include("partials/footer") %> 
</body>
</html>