<!DOCTYPE html>
<html lang="en">
<%- include("partials/head")%>
<body>
    <%- include("partials/header") %> 
    <main class="contenedorPartner">
        <section class="contImgBackCoach">
           <div class="sectAcc">
               <h2>Coaching</h2>
               <p>Proceso y Beneficios</p>
           </div>
        </section>
        <section class="containerArticlesPartner">
            <article class="articlePartner">
                <h2>Mi concepto del Coaching</h2>
                <div>
                    El coaching es un proceso de aprendizaje basado en conversaciones, en las que el coach te acompaña a diseñar las acciones correspondientes para que puedas cambiar o mejorar una situación determinada.<br><br>
                    Una conversación de coaching tiene una duración entre 45 y 60 minutos, es 100% personalizada, confidencial y online.<br><br>
                </div>
                <div class="headButonProp">
                    <a href="/contacto" class="buttonPartner" >Info</a>
                 </div>
            </article>
            <article class="articlePartner colorgrisPC">
                <h2>Proceso de Coaching </h2>
                <div>
                    Se trata de una serie de conversaciones relacionadas a un tema central. <br> En cada encuentro se trabajan las distintas cuestiones que trae aparejadas dicho tema. <br><br>Generalmente abarca un mínimo de 4 conversaciones y el máximo dependerá no sólo del compromiso del cliente, sino también del “punto de partida”, en que se encuentra al momento de comenzar.<br><br>
                </div>
                <div class="headButonProp">
                    <a href="/contacto" class="buttonPartner" >Info</a>
                </div>
            </article>
            <article class="articlePartner">
                <h2>El rol del ‘coach personal’</h2>
                <div>
                    <br>
                    El coach es la persona capacitada para explorar los objetivos personales. <br><br>Se concibe como un orientador, un asesor, apoyo y compañero; es así como el coaching personal se distingue de muchas otras prácticas. <br><br> En este tipo de coaching la relación es lineal y no de subordinación, es decir, en esta disciplina el coach no se traduce en un jefe o en alguien que ordena tu vida, sino en un compañero que observará, cuestionará y confrontará tus acciones con el fin último de que en el proceso seas capaz de hallar (por vos mismo) la solución de tus problemas personales. <br><br>Siempre será tu responsabilidad tomar la decisión final.<br><br>
                    Junto al coach, el cliente va a poder establecer un plan de acción encaminado al logro de sus objetivos tanto a corto como a largo plazo; para ello, el coach promoverá el desarrollo de ciertas habilidades necesarias para que el camino a seguir por el cliente sea más eficaz. <br><br>Es así como al hablar de un coach personal no estamos definiendo a un consejero o a un terapeuta, sino que estamos señalando a alguien que te orientará y te ayudará a descubrir qué dirección es más prudente tomar en tu vida, que te animará con el objetivo de que no flaquees ante el alcance de tus metas, que te entrenará y te concederá la habilidad para minimizar tus debilidades y mejorar tus fortalezas.<br><br>
                </div>
                <div class="headButonProp">
                    <a href="/contacto" class="buttonPartner" >Info</a>
                </div>
            </article>
            <article class="articlePartner colorgrisPC">
                <h2>Beneficios del coaching personal</h2>
                <div>
                    <br>
                    Lo primero que se debe resaltar es que esta práctica nos permite no sólo cambiar nuestra perspectiva del mundo, sino que además nos concede la oportunidad de actuar de manera diferente. <br><br>
                    Gracias a ello obtenemos nuevos resultados que nutren nuestra experiencia y nos permite alcanzar los objetivos planteados de forma más rápida y precisa.<br><br>
                    De la mano de un coach personal adquirirás la capacidad para enfrentar tus problemas, ya sean familiares, laborales, etcétera, de una forma eficaz y con la menor cantidad de inconvenientes posibles. <br><br>A su vez, su orientación te ayudará a conocerte a vos mismo, por lo que si esto no es posible a causa de tu rutina diaria y a las exigencias de tus responsabilidades, junto a él tendrás la oportunidad de explorar tus ideas y de aventurarte en vos mismo.<br><br>
                </div>
                <div class="headButonProp">
                    <a href="/contacto" class="buttonPartner " >Info</a>
                </div>
            </article>
        </section>
    </main>
    <%- include("partials/footer") %> 
</body>
</html>