<!DOCTYPE html>
<html lang="en">
<%- include("partials/head") %> 
<body>
   <%- include("partials/header") %> 
   <div class="main box">
      <!--Sheet Slider-->
      <section class="sheetSlider sh-default sh-auto">
         <input id="s1" type="radio" name="slide1" checked/> 
         <input id="s2" type="radio" name="slide1"/> 
         <input id="s3" type="radio" name="slide1"/> 
         <!-- <input id="s4" type="radio" name="slide1"/>  -->
        <!--  <input id="s5" type="radio" name="slide1"/>  -->
         <div class="sh__content">
            <!-- Slider Item -->
            <div class="sh__item">
               <img src="images/coachJuli.jpg" alt="imgText"/>
               <!-- Item Info -->
               <div class="sh__meta">
                  <article class="slideArticle">
                     <h4 >¡Viví tu experiencia! </h4>
                     <strong class="partner">¡Primera sesión Gratis!</strong> <br>
                        <span class="slideSpan">
                        Reservá un turno <br>
                        y empezá el cambio. <br>
                        El primer encuentro <br>
                        es de 30 minutos<br>
                        </span>
                     <a href="/contacto" class="buttonSlidearticle" >Reservar</a>
                  </article>
               </div>
            </div>
            <!-- Slider Item -->
            <div class="sh__item">
               <img src="images/prueba2.jpg" alt="imgText"/>
               <!-- Item Info -->
               <div class="sh__meta">
                  <div class="slider234">
                     <h4>Iniciá tu proceso de Coaching</h4>
                     <br>
                     <a href="/coach" class="buttonSlidearticle" ><!-- <i class="fa fa-plus" aria-hidden="true"></i>  -->INFO</a>
                     <br>
                     <br>
                     <span class="slideSpan">¡Sentí la satisfacción de estar <br>
                        creando la vida que querés!
                     </span>
                  </div>
               </div>
            </div>
      
            <!-- Slider Item -->
            <div class="sh__item">
               <!-- <img src="images/33.webp" alt="imgText"/> -->
               <img src="images/tres.jpg" alt="imgText"></img>
               <!-- Item Info -->
               <div class="sh__meta">
                  <div class="slider234 flicker">
                     <h4>¿Te cuesta enfocarte <br>
                        y procrastinas con <br>
                        facilidad?</h4>
                        <strong class="partner"> Accountability Partner </strong> <br>
                     <span class="slideSpan" >Descubrí por qué <br>
                        es la ventaja competitiva <br>
                        que necesitas para crecer.
                     </span>
                     <br>
                     <a href="/accPartner" class="buttonSlidearticle" ><!-- <i class="fa fa-plus" aria-hidden="true"></i>  -->INFO</a>
                  </div>
               </div>
            </div>
      
            <!-- Slider Item -->
            <!-- <div class="sh__item">
               <img src="images/tres.webp" alt="imgText"/>
               
               <div class="sh__meta">
                  <div class="slider234">
                     <h3>Articulos</h3>
                     <span>Tomate 5 minutos para leer una de las mini guías. <a href="#" class="buy-now-button-slider" ><i class="fa fa-plus" aria-hidden="true"></i>INFO</a></span>
                  </div>
               </div>
            </div> -->
         </div>
         <!-- .sh__content -->
         <!--botones -->
         <div class="sh__btns">
            <label for="s1"></label>
            <label for="s2"></label>
            <label for="s3"></label>
           <!--  <label for="s4"></label> -->
           <!--  <label for="s5"></label> -->
         </div><!-- .sh__btns -->
         <!--flechas-->
         <div class="sh__arrows">
            <label for="s1"></label>
            <label for="s2"></label>
            <label for="s3"></label>
           <!--  <label for="s4"></label> -->
            <!-- <label for="s5"></label> -->
         </div>
         <!-- .sh__arrows -->
         <!--Control-->
         <button class="sh-control"></button>  
      </section>
      <!-- .sheetSlider -->
     <!--  <section class="certDolco">
            <div class="titCajaCertDolco">
               <h3>Certificaciones</h3>
            </div>
            <div class="cajaCertDolco">
               <img src="images/icons/aacop1.png" class="imgCertDolco" alt="logo AACOP">
            </div>
            <div class="cajaCertDolco">
               <img src="images/icons/ficop.png" class="imgCertDolco" alt="logo FICOP">
            </div>
      </section> -->
      <section class="propiedades">
         <article class="propArticle colorgris">
            <div class="propTexto">
               <h2>Coaching</h2>
               <p>
                  El coaching es un proceso de aprendizaje basado en conversaciones, en las que el coach te acompaña a diseñar las acciones correspondientes para que puedas cambiar o mejorar una situación determinada.
               </p>
            </div>
            <div class="headButonProp">
               <a href="/coach" class="buy-now-button " >Info</a>
            </div>
         </article>
         <article class="propArticle  ">
            <div class="propTexto">
               <h2>Accountability Partner</h2>
               <p>
                  En español significa “socio de responsabilidad” porque mi rol como Acountability partner es ayudarte a mantenerte enfocado en tu objetivo y lograrlo efectivamente.
               </p>
            </div>
            <div class="headButonProp">
               <a href="/accPartner" class="buy-now-button " >Info</a>
            </div>
         </article>
         <article class="propArticle colorgris">
            <div class="propTexto">
               <h2>
                  Relación Coaching/Acountability Partner
               </h2>
               <p>
                  Ambos servicios se entrelazan, puesto que, en cada encuentro, mi función como coach y Acountability partner es escucharte y recordarte tu objetivo para que juntos identifiquemos los obstáculos que podrían aparecer y cada una de tus fortalezas y debilidades frente a lo que querés lograr.
               </p>

            </div>
            <div class="headButonProp">
               <a href="/accPartner" class="buy-now-button " >Info</a>
            </div>
         </article>
         
      </section>
         <!-- <div class="articlePartner">
            <h2>Proceso de coaching</h2>
            <div>
               Se trata de una serie de conversaciones relacionadas a un tema central. En cada encuentro se trabajan las distintas cuestiones que trae aparejadas dicho tema. Generalmente abarca un mínimo de 4 conversaciones y el máximo dependerá no sólo del compromiso del cliente, sino también del “punto de partida”, en que se encuentra al momento de comenzar.
            </div>
            <div class="headButonProp">
               <a href="/contacto" class="buy-now-button" >Saber más</a>
         </div>
         </div> -->
      <section class="bloque parallax ">
         <div class="contenedorParallax">
            <h2 class="titulo">Nos preguntamos:</h2>
            <p>
               ¿Quién soy yo para ser brillante, talentoso y fabuloso?
            </p>
            <h2 class="titulo">
               Más bien, la pregunta es:
            </h2>
            <p>
               ¿Quién sos para no serlo?
            </p>
            <p>
               <span class="frase">
                  Marianne Williamson
               </span>
            </p>
         </div>
      </section>
      <section class="articlePartner colorgris">
         <h2>Acerca de mi</h2>
         <div>
            <div>
               <img src="images/coachAbout.jpg" class="coachPicture" alt="imagen coach">
            </div>
            <strong style="color: black;">Mi nombre es Julieta Norambuena.</strong> <br><br>
            Soy Coach Ontológico Profesional y estoy certificada y avalada por <a target="_blank"  href="https://www.aacop.org.ar/" style="text-decoration: none;color: black;"><strong>AACOP</strong></a>  (Asociación argentina de Coaching ontológico proesional) y por <a target="_blank"  href="https://ficop.info/" style="text-decoration: none;color: black;"><strong>FICOP</strong></a>   (Federación internacional de coaching ontológico profesional). <br><br>
            Mi propósito es acompañarte a expandir tu potencial, descubriendo aquellas herramientas de las que dispones y aún no sos consciente. <br> <br>
            Quiero transitar con vos el camino del “desafiarse a sí mismo”, a través de mi escucha, respeto y empatía.
         </div>
         <div class="headButonProp">
             <a href="/contacto" class="buy-now-button" >Info</a>
         </div>
      </section>
   </div>
   <%- include("partials/footer") %> 
</body>
</html>