<!DOCTYPE html>
<html lang="en">
<%- include("partials/head")%>
<body>
    <%- include("partials/header") %> 
    <main class="contenedorPartner">
        <section class="contImgBack">
           <div class="sectAcc">
               <h2>Accountability Partner</h2>
               <p>Importancia y Beneficios</p>
           </div>
        </section>
        <section class="containerArticlesPartner">
            <article class="articlePartner">
                <h2>Accountability Partner</h2>
                <div>
                    <br><br>
                    En español significa “socio de responsabilidad” porque mi rol como Acountability partner es ayudarte a mantenerte enfocado en tu objetivo y lograrlo efectivamente.<br><br>
                    En el 1er encuentro se conversa sobre el objetivo a lograr y el tiempo en que se desea cumplirlo, se acuerda la regularidad de las reuniones y la manera en que se mantendrá el seguimiento entre las mismas (WhatsApp, correo electrónico, llamadas).<br><br>
                    En cada encuentro, el cliente muestra y comprueba su progreso cumpliendo con las tareas definidas en la reunión previa y se definen las próximas.<br><br>
                    El tener que responder a alguien con regularidad te empuja más a progresar que si solo te hicieras responsable vos mismo.<br><br>
                    El campo de aplicación del Accountability partner no tiene límites, tus metas pueden ser profesionales o estar vinculadas al desarrollo personal.<br><br>
                </div>
                <div class="headButonProp">
                    <a href="/contacto" class="buttonPartner" >Info</a>
                 </div>
            </article>
            <article class="articlePartner colorgrisPC">
                <h2>Beneficios</h2>
                <div>
                    <br><br>
                    Contratar un Accountability partner aumenta a un 95% las posibilidades de éxito.<br><br>
                    Actúa como fuente de energía. Te ayuda a mantener tu mente enfocada y concentrada en lograr tus metas.<br><br>
                    Tener un Acountability partner significa que podés sentarte y conversar, elaborar un plan de acción y una estrategia coherentes. <br><br>
                    Puede presentarte sugerencias de mejora que quizás no hayas considerado, creando así un ambiente de colaboración <br><br>
                </div>
                <div class="headButonProp">
                    <a href="/contacto" class="buttonPartner" >Info</a>
                </div>
            </article>
            <article class="articlePartner">
                <h2>La rendición de cuentas </h2>
                <div>
                    Es la responsabilidad la que garantiza que consideremos cuidadosamente nuestras acciones y evaluemos los efectos de cada paso frente al objetivo planteado.<br><br>
                    El Accountability partner te controlará regularmente para asegurarte de que estás cumpliendo con las tareas que te comprometiste a cumplir.<br><br> Te dará la escucha para mantenerte motivado y mantener el impulso cuando surjan inconvenientes en el proceso.<br><br>
                </div>
                <div class="headButonProp">
                    <a href="/contacto" class="buttonPartner" >Info</a>
                </div>
            </article>
            <article class="articlePartner colorgrisPC">
                <h2>Coaching/Acountability Partner </h2>
                <div>
                    Ambos servicios se entrelazan, puesto que, en cada encuentro, mi función como coach y Acountability partner es escucharte y recordarte tu objetivo para que juntos identifiquemos los obstáculos que podrían aparecer y cada una de tus fortalezas y debilidades frente a lo que querés lograr.<br><br> Cualquier proceso tiene sus altibajos…en esos días en los que no tengas la fuerza de voluntad para mantener el enfoque es donde las conversaciones de coaching serán la herramienta para cambiar el punto de vista. <br><br>
                </div>
                <div class="headButonProp">
                    <a href="/contacto" class="buttonPartner " >Info</a>
                </div>
            </article>
        </section>
    </main>
    <%- include("partials/footer") %> 
</body>
</html>