<footer class="footer">
    <div class="sectionFooter">
        <h4>WWW.JULIETANOR.COM</h4>
        <div class="titHeaderFooter">
            <a href="/">
              <img class="footerLogo" src="logo/logo2.jpg" alt="logo">
           </a>
         </div>
    </div>
    <div class="sectionFooter">
        <h4>MENU</h4>
        <div >
            <ul class="mainContentFooter">
                <li class="liMenuFooter"><a class="headerAFooter"  href="/">Home</a></li>
                <li class="liMenuFooter"><a class="headerAFooter"  href="/coach" >Coaching</a></li>
                <li  class="liMenuFooter"><a class="headerAFooter" href="/accpartner">AccPartner</a></li>
                <li  class="liMenuFooter"><a class="headerAFooter " href="/contacto">Contacto</a></li>
            </ul>
        </div>
    </div>
    
    <div class="sectionFooter">
        <h4>CERTIFICACIONES</h4>
         <div class="certDolco">
            <div class="cajaCertDolco">
                <a target="_blank"  href="https://www.aacop.org.ar/coaches/buscador/listado?apellido=norambuena&nombre=&provincia_id=&localidad_id=&delegacion_id=&codigopostal=&credencial_id=" style="text-decoration: none;"><img src="images/icons/aacop1.png" class="imgCertDolco" alt="logo AACOP"></a>
            </div>
            <div class="cajaCertDolco">
               <a target="_blank"  href="https://ficop.info/" style="text-decoration: none;"><img src="images/icons/ficop.png" class="imgCertDolco" alt="logo FICOP"></a> 
            </div>
        </div>
    </div>
    <div class="sectionFooter">
        <h4>REDES SOCIALES</h4>
        <div class="social">
            <a target="_blank"  href="mailto:consultas@coachjulietanor.com?Subject=Buen día, quiero hacer una consulta"><img src="images/icons/email-icon.png" class="iconsRedes" alt="email"></a>
            <a target="_blank"  href="https://www.instagram.com/coachjulietanor/"><img src="images/icons/icoInsta.png" class="iconsRedes" alt="instagram"></a>
            <a target="_blank"  href="https://www.facebook.com/Coach-Julieta-Nor-108661325140745"><img src="images/icons/facebook3.png" class="iconsRedes" alt="facebook"></a>
            <a target="_blank"  href="https://www.linkedin.com/in/julieta-nor-6456ab58/"><img src="images/icons/linkedin4.png" class="iconsRedes" alt="linkedin"></a>
          </div>
        <div>
            <div class="container-boton">
               <a target="_blank"   href="https://wa.me/+5491156145671?text=Hola,%20me%20contacto%20desde%20la%20web" target="_blank">
                   <img class="boton" src="images/icons/icono4.png" alt="">
               </a>
           </div>
        </div>
    </div>
    <div class="sectionFooter">
        <br>
        <br>
        <br>
    </div>
    <div class="sectionFooter">
        <h4>DESARROLADOR WEB</h4>
        <a target="_blank" href="https://peditupaginaya.com"><p>Peditupaginaya.com</p></a>
    </div>
 </footer>