<!-- Google Tag Manager (noscript) -->
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5R8P39K"
  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
<header class="header">
    <div class="titHeader efecto">
       <a href="/">
         <img class="logo" src="logo/logo.svg" alt="logo">
      </a>
    </div>
    <nav class="main-nav">
      <a href="#" class="logo nav-link"></a>
      <button class="nav-toggle" aria-label="Abrir menú">
        <i class="fas fa-bars"></i>
      </button>
       <ul class="main-content">
           <li class="liMenu1"><a class="headerA"  href="/">Home</a></li>
           <li class="liMenu1"><a class="headerA"  href="/coach" >Coaching</a></li>
           <li  class="liMenu1"><a class="headerA" href="/accpartner">AccPartner</a></li>
           <li  class="liMenu1"><a class="headerA " href="/contacto">Contacto</a></li>
       </ul>
    </nav>
 </header>