<head>
    <title>CoachJulietaNor</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="copyright" content="Coach Julieta Nor">
    <meta name="description" content="Iniciá tu proceso de Coaching y aprende a gestionar y diseñar tus emociones  mejorando tu calidad de vida personal y laboral. Liderazgo y comunicación efectiva.">
    <meta name="robots" content="index,follow">
    <meta name="keywords" content="coach,coachearse,coaching,couching,gestion de emociones,liderazgo,lider,comunicacion,terapia,lenguaje corporal"/>
    <meta property="og:title" content="CoachJulietaNor">
    <meta property="og:description" content="Iniciá tu proceso de Coaching y aprende a gestionar y diseñar tus emociones  mejorando tu calidad de vida personal y laboral. Liderazgo y comunicación efectiva.">
    <meta property="og:image" content="https://coachjulietanor.com/images/imaFace.jpg>">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://coachjulietanor.com/">
    <meta itemprop="name" content="CoachJulietaNor">
    <meta itemprop="description" content="Iniciá tu proceso de Coaching y aprende a gestionar y diseñar tus emociones  mejorando tu calidad de vida personal y laboral. Liderazgo y comunicación efectiva.">
    <meta itemprop="image" content="https://coachjulietanor.com/images/imaFace.jpg">
    <meta property="og:image:alt" content="Coach&Accountability Partner">
    <meta itemprop="headline" content="CoachJulietaNor">
    <!-- <meta property="fb:app_id" content="url pagina face"> -->
    <link href="https://coachjulietanor.com/logo/logo2.svg" rel="image_src">
    <link rel="alternate" href="https://coachjulietanor.com/" hreflang="es">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <!--Sheet Slider-->
    <link type="image/x-icon" rel="icon" href="images/dolco.ico" />
	<!--reset y aspecto-->
	<!--Slider-->
	<link rel="stylesheet" href="/stylesheets/dist/sheetslider.min.css"/>
    <!-- Google Tag Manager -->
        <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
        new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
        'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
        })(window,document,'script','dataLayer','GTM-5R8P39K');</script>
    <!-- End Google Tag Manager -->
   <script src="https://kit.fontawesome.com/ffe6edddc7.js" crossorigin="anonymous"></script>
   <script src="/javascripts/script.js" defer></script>
   <script src="/javascripts/sheetslider.js" defer></script>
    <!--Sheet Slider-->
</head>