<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" type="text/css" href="/stylesheets/contact-form.css">
    <!--Sheet Slider-->
    <link type="image/x-icon" rel="icon" href="images/dolco.ico" />
	<!--reset y aspecto-->
	<!--Slider-->
   <script src="https://kit.fontawesome.com/ffe6edddc7.js" crossorigin="anonymous"></script>
   
   <script src="/javascripts/script.js" defer></script>
  <!--  <script src="/javascripts/sheetslider.js" defer></script> -->
    <!--Sheet Slider-->
    <title>CoachJulietaNor"</title>
</head>